body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#bottom {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  color: #fff;

  footer {
    .contact {
      display: flex;
      justify-content: space-around;

      ul {
        width: 150px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 25px;

        h3 {
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 25px;
        }

        li {
          opacity: 0.5;
          margin-top: 10px;
        }
      }

      .subscribe {
        width: 270px;
        display: inline-block;
        margin-top: 20px;

        h3 {
          text-transform: capitalize;
          letter-spacing: 1px;
        }

        p {
          opacity: 0.5;
        }

        form {
          input[type="email"] {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ffffff52;
            width: 100%;
            outline: none;
            letter-spacing: 1px;
          }

          input[type="submit"] {
            width: 100%;
            height: 40px;
            margin-top: 20px;
            background-color: #df5200be;
            border: none;
            color: #fff;
            letter-spacing: 0.2px;
            border-radius: 8px;
            text-transform: uppercase;
            opacity: .7;
            transition: all linear .35s;

            &:hover {
              opacity: 1;
              cursor: pointer;
            }

          }
        }
      }
    }

    a {
      color: #fff;
    }
  }
}

#products {
  width: 80%;
  margin: 0 auto;
  padding: 55px;

  .cards {
    width: 350px;
    height: auto;
    display: inline-block;
    margin-right: 15px;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &__img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      margin-bottom: 5px;
      transition: all linear 0.35s;

      &:hover {
        box-shadow: -4px 2px 15px 0px;
        cursor: pointer;
        // transform: scale(1.1);
      }

      &--border {
        border-radius: 8px;
      }
    }

    &__product {
      display: flex;
      justify-content: space-between;
      &__title {
      }

      &__title--color {
        opacity: 0.7;
      }

      &--price {
        &::before {
          content: "$ ";
        }
      }
    }
  }
}
