body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

footer #bottom {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  color: #fff;
}
footer #bottom .contact {
  display: flex;
  justify-content: space-around;
}
footer #bottom .contact ul {
  width: 150px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 25px;
}
footer #bottom .contact ul h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
footer #bottom .contact ul li {
  opacity: 0.5;
  margin-top: 10px;
}
footer #bottom .contact .subscribe {
  width: 270px;
  display: inline-block;
  margin-top: 20px;
}
footer #bottom .contact .subscribe h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
}
footer #bottom .contact .subscribe p {
  opacity: 0.5;
}
footer #bottom .contact .subscribe form input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3215686275);
  width: 100%;
  outline: none;
  letter-spacing: 1px;
}
footer #bottom .contact .subscribe form input[type=submit] {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #df5200;
  border: none;
  color: #fff;
  letter-spacing: 0.2px;
  border-radius: 8px;
  text-transform: uppercase;
  opacity: 0.7;
  transition: all linear 0.35s;
}
footer #bottom .contact .subscribe form input[type=submit]:hover {
  opacity: 1;
  cursor: pointer;
}
footer #bottom a {
  color: #fff;
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: main;
}

.item-3 {
  grid-area: sidebar;
}

.item-4 {
  grid-area: footer;
}

#products {
  width: 84%;
  margin: 0 auto;
  padding: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header header" "main . sidebar" "footer footer footer";
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
#products .cards {
  height: auto;
  position: relative;
}
#products .cards__img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px;
  transition: all linear 0.35s;
}
#products .cards__img:hover {
  box-shadow: -4px 2px 15px 0px;
  cursor: pointer;
}
#products .cards__img--border {
  border-radius: 8px;
}
#products .cards__product {
  display: flex;
  justify-content: space-between;
}
#products .cards__product__title--color {
  opacity: 0.7;
}
#products .cards__product--price::before {
  content: "$ ";
}
#products .cards__product--icon {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 9;
  width: 16px;
}

header nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
  margin: 20px 0;
}
header nav .brand {
  font-size: 35px;
  letter-spacing: 3px;
}
header nav .category {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  cursor: pointer;
}
header nav form {
  position: relative;
  margin-left: 30px;
}
header nav form input {
  width: 330px;
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  outline: none;
  font-size: 12px;
  background: rgba(211, 211, 211, 0.3098039216);
}
header nav form img {
  position: absolute;
  left: 10px;
  top: 9px;
  width: 15px;
}
header nav .account {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header nav .account .active {
  border-bottom: 2px solid rgb(255, 0, 0);
}
header nav .account li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  row-gap: 5px;
}
header nav .account li img {
  width: 20px;
}
header nav .account li a {
  color: #000;
}/*# sourceMappingURL=style.css.map */